*
{
    margin: 0;
    padding: 0;

    transition: .5s;
}
::-moz-selection
{
    background: transparent;
}
::selection
{
    background: transparent;
}
header
{
    position: absolute;
    top: 0;
    left: 50vw;

    width: 50vw;
    height: 35vh;

    background: none;
}
#menu
{
    display: flex;

    width: 100%;
    height: 15%;

    background: none;

    flex-wrap: wrap;
    justify-content: space-between;
}
#subMenu
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 85%;

    background: none;
}
#menuInventory,
#menuShop,
#menuSettings
{
    position: relative;

    width: 30%;
    height: 100%;

    color: white;
    border-radius: .15em;
    background: black;
    box-shadow: .25vh .25vw .8em black;
}
#subInventory
{
    position: absolute;
    z-index: 3;

    overflow: hidden;

    width: 65%;
    height: 0;

    color: white;
    background: black;
}
#subShop
{
    position: absolute;
    z-index: 2;
    left: 17.5%;

    overflow: hidden;

    width: 65%;
    height: 0;

    color: white;
    background: black;
}
#subSettings
{
    position: absolute;
    z-index: 1;
    left: 35%;

    overflow: hidden;

    width: 65%;
    height: 0;

    color: white;
    background: black;
}
main
{
    position: absolute;
    top: 0;
    left: 0;

    width: 50vw;
    height: 100vh;

    outline: 2px solid black;
    outline-offset: -2px;
    background: #dbccc1;
}
#damagePS
{
    position: absolute;
    top: -4vh;

    width: 100%;
}
#enemy
{
    width: 100%;
    height: 100%;
    margin-bottom: 15%;

    transition: -webkit-transform .2s ease;
    transition:         transform .2s ease;
    transition:         transform .2s ease, -webkit-transform .2s ease;

    color: white;
}
#enemyBox
{
    position: absolute;
    top: 40%;
    left: 50%;

    width: 25vw;
    height: 25vw;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    border: border-box;

    -webkit-perspective: 1000px;
            perspective: 1000px;
    flex: wrap;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
#window
{
    position: relative;

    width: 106%;
    height: 106%;

    -webkit-transform: translate(-3%, -3%);
            transform: translate(-3%, -3%);

    background: url(Enemy`s/Window.png) 100% no-repeat;
    background-size: cover;
}
#ground
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 20%;

    color: white;
}
footer
{
    position: absolute;
    bottom: 0;
    left: 50vw;

    overflow: hidden;

    width: 50vw;
    height: 65vh;

    color: white;
    background: #dbccc1;
}
#description
{
    position: absolute;

    width: 100%;
    height: 20%;
    padding: 1px;

    color: black;
    outline: 1px solid black;
    outline-offset: -1px;
    background: none;

    outline-left-width: 0;
}
.itemDescriptionAll
{
    width: 100%;
    height: 100%;
}
.itemDescriptionName
{
    position: absolute;
}
.itemDescriptionCost
{
    position: absolute;
    top: 50%;

    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
}
.itemDescription
{
    position: absolute;
    top: 0;
    left: 35%;
}
.itemDescriptionPicture
{
    float: left;

    width: auto;
    height: 100%;
    margin-right: 1vw;
}
.firstAppend
{
    position: absolute;
    right: -1vw;
    bottom: -1vh;
}
#inventory,
#settings,
#shop
{
    position: absolute;
    top: 20%;

    width: 100%;
    height: 80%;

    color: black;
    background: none;
}
#itemSecondMouse,
#itemSecondClick
{
    position: relative;

    width: 25%;
    height: 15%;
    margin: 5px;

    color: black;
    border: 2px solid black;
}
.itemPicture
{
    position: absolute;
    right: 0;

    width: auto;
    height: 100%;
}
.itemId
{
    position: absolute;
    top: 0;
    left: 0;
}
.itemCost
{
    position: absolute;
    bottom: 0;
    left: 0;
}
