* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: 0.5s;
}

header {
  position: absolute;
  top: 0;
  left: 50vw;
  width: 50vw;
  height: 50vh;
  background: none;
}

#menu {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#subMenu{
 position: relative;
 width: 50vw;
 height: 45vh;
 background: green;
}

#inventory, #shop, #settings {
  position: relative;
  width: 30%;
  height: 100%;
  color: white;
  background: black;
}

#subInventory{
  position: relative;
  width: 65%;
  height: 100%;
  color: white;
  background: white;

}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  background: rgb(218, 218, 218);
}

#enemy {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 25vw;
  height: 25vw;
  color: white;
  background: black;
  margin-bottom: 15%;
  transform: translate(-50%, -50%);
}

#ground {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  color: white;
  background: black;
}

footer {
  position: absolute;
  left: 50vw;
  bottom: 0;
  width: 50vw;
  height: 50vh;
  background: grey;
  color: white;
}
