* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
header {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 50vh;
    background: none;
}
#menu {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    background: none;
    justify-content: space-between;
}
#subMenu {
    position: relative;
    width: 100%;
    height: 90%;
    background: none;
    overflow: hidden;
}
#menuInventory, #menuShop, #menuSettings {
    position: relative;
    width: 30%;
    height: 100%;
    color: white;
    background: black;
    border-radius: 0.15em;
    box-shadow: 0.25vh 0.25vw 0.8em black;
}
#subInventory {
    position: absolute;
    width: 65%;
    height: 0%;
    z-index: 3;
    background: green;
    overflow: hidden;
}
#subShop {
    position: absolute;
    width: 65%;
    height: 0%;
    left: 17.5%;
    z-index: 2;
    background: red;
    overflow: hidden;
}
#subSettings {
    position: absolute;
    width: 65%;
    height: 0%;
    left: 35%;
    z-index: 1;
    color: white;
    background: blue;
    overflow: hidden;
}
main {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background: rgb(218, 218, 218);
}
#enemy {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 25vw;
    height: 25vw;
    color: white;
    background: black;
    margin-bottom: 15%;
    transform: translate(-50%, -50%);
}
#window {
    position: relative;
    width: 106%;
    height: 106%;
    transform: translate(-3%, -3%);
    background: url(Enemy`s/Window.png) 100% no-repeat;
    background-size: cover;
}
#ground {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    color: white;
    background: black;
}
footer {
    position: absolute;
    left: 50vw;
    bottom: 0;
    width: 50vw;
    height: 50vh;
    background: grey;
    color: white;
    overflow: hidden;
}
#inventory {
    position: absolute;
    width: 100%;
    height: 100%;
    background: green;
    color: black;
}
#settings {
    position: absolute;
    width: 100%;
    height: 100%;
    background: blue;
    color: white;
}
#shop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    color: black;
}
#itemSecondMouse, #itemSecondClick{
    position: relative;
    width: 25%;
    height: 15%;
    color: black;
    margin: 5px;
    border: 2px solid black;
}
.itemPicture {
    position: absolute;
    right: 0;
    width: auto;
    height: 100%;
}
.itemId {
    position: absolute;
    top: 0;
    left: 0;
}
.itemCost {
    position: absolute;
    bottom: 0;
    left: 0;
}
