* {
    margin: 0;
    padding: 0;

    transition: .5s;
}

::-moz-selection {
    background: transparent;
}

::selection {
    background: transparent;
}

body {
    font-size: .85vw;
}

#cAlert {
    position: absolute;
    z-index: 4;
    top: 2vh;
    left: 37.5vw;

    display: flex;
    overflow: hidden;

    width: 25vw;
    height: 0;

    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);

    color: black;
    border: 0 solid black;
    border-radius: .25vw;
    background: white;
    box-shadow: 4px 4px black;

    align-items: center;
    justify-content: center;
}

#cAlert:hover {
        -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
    box-shadow: 7px 7px black;

    color: white;
    background: black;
}

#loginExit,
#regExit,
#sendMailExit {
    position: relative;
    right: 0;

    color: white;
}

label {
    color: white;
}

#textReg {
    position: absolute;
    top: 110%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: white;
}

#linkReg {
    color: #999;
}

#login,
#registration,
#sendMailForm {
    position: absolute;
    top: 45vh;
    left: 50vw;

    display: none;

    width: 20vw;

    transform: translate(-50%, -50%);
}

.button {
    display: flex;

    width: 7vw;
    height: 4vh;
    margin: 1vh;

    color: black;
    border: 1px solid black;
    border-radius: .25vw;

    align-items: center;
    justify-content: center;
}

.button:hover {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);

    color: white;
    background: black;
    box-shadow: 5px 5px black;
}

.errors {
    color: #999;
}

.link {
    text-decoration: none;

    color: #edb545;
}

.link:hover,
a:active {
    text-decoration: none;

    color: #ba8212;
}

#regulations {
    position: absolute;
    z-index: 3;
    top: 35vh;
    left: 35vw;

    display: none;

    width: 30vw;
    height: 30vh;
    padding: 1vw;

    border: 1px solid black;
    border-radius: .25vw;
    background: white;
}

#regulations:hover {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);

    box-shadow: 5px 5px white;
}

header {
    position: absolute;
    top: 0;
    left: 50vw;

    width: 50vw;
    height: 35vh;

    background: none;
}

.exit {
    position: absolute;
    top: 0;
    right: 0;

    width: 1.4vw;
    height: 1.4vw;
    margin-top: .3vh;
    margin-right: .1vw;

    background: url(../Enemy`s/Exit.png) 100% no-repeat;
    background-size: cover;
}

#menu {
    display: flex;

    width: 100%;
    height: 15%;

    background: none;

    flex-wrap: wrap;
    justify-content: space-between;
}

#subMenu {
    position: relative;

    width: 100%;
    height: 85%;

    background: none;
}

#menuInventory,
#menuShop,
#menuSettings {
    position: relative;
    top: 1vh;

    display: flex;

    width: 30%;
    height: 100%;

    border: 1px solid black;
    border-radius: .25vw;

    align-items: center;
    justify-content: center;
}

#menuInventory:hover,
#menuShop:hover,
#menuSettings:hover {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);

    color: white;
    background: black;
    box-shadow: 5px 5px black;
}

#subInventory {
    top: 10%;
    left: 1%;

    width: 60%;
}

#subShop {
    top: 30%;
    left: 33.5%;

    width: 45%;
}

#subSettings {
    top: 50%;
    left: 58.5%;

    width: 40%;
}

#subInventory,
#subShop,
#subSettings {
    position: absolute;

    overflow: hidden;

    height: 0;

    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
    /* transition: 0.6s; */

    border: 1px solid black;
    border-radius: .3vw;
    background: white;
}

#subInventory:hover,
#subShop:hover,
#subSettings:hover {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);

    box-shadow: 10px 10px black;
}

main {
    position: absolute;
    top: 0;
    left: 0;

    width: 50vw;
    height: 100vh;
    /* outline: 2px solid black; */
    /* outline-offset: -2px; */

    background: none;
}

#enemy {
    width: 100%;
    height: 100%;
    margin-bottom: 15%;

    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    transition: transform .2s, -webkit-transform .2s;

    color: white;
}

#numberOfClicks,
#level,
#dps {
    padding: .5vw;

    border: 1px solid black;
    border-radius: .25vw;
}

#numberOfClicks:hover,
#level:hover,
#dps:hover {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);

    color: white;
    background: black;
    box-shadow: 5px 5px black;
}

#info {
    position: absolute;
    top: 2.5vh;
    left: 12.5vw;

    display: flex;

    width: 25vw;

    justify-content: space-between;
}

#helthPoint {
    position: absolute;
    top: 9.5vh;
    left: 25%;

    width: 50%;
}

#hpBar {
    overflow: hidden;

    height: 1vh;

    border: 1px solid black;
    border-radius: 1vw;
    background: white;
    box-shadow: 3px 3px black;
}

#helthPoint:hover #hpBar {
    /* border: 1px solid white; */
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);

    background: black;
    box-shadow: 6px 6px black;
}

#helthPoint:hover #hp {
    background: white;
}

#hp {
    width: 0;
    height: 100%;

    background: black;
}

#damage {
    position: absolute;
    top: -2vh;

    color: black;
}

#enemyBox {
    position: absolute;
    top: 40%;
    left: 50%;

    width: 25vw;
    height: 25vw;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    border: border-box;

    -webkit-perspective: 1000px;
    perspective: 1000px;
    flex: wrap;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.spanClickPerOne {
    position: absolute;
    top: -15%;

    color: black;
}

#window {
    position: relative;

    width: 106%;
    height: 106%;

    -webkit-transform: translate(-3%, -3%);
    transform: translate(-3%, -3%);
    /* outline: 1px solid black; */

    background: url(../Enemy`s/Window.png) 100% no-repeat;
    background-size: cover;
}

#ground {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 20%;

    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50vw;

    overflow: hidden;

    width: 50vw;
    height: 65vh;

    background: none;
}

#inventory,
#settings,
#shop,
#chat{
    position: absolute;
    top: 20%;

    width: 100%;
    height: 80%;

    background: none;
}

#chat{ 
    top:0;
    height: 100%;
 }
#description {
    position: absolute;

    width: 100%;
    height: 20%;
    padding: 1px;

    background: none;
}

.itemDescriptionAll {
    width: 100%;
    height: 100%;
}

.itemDescriptionName {
    position: absolute;
    left: 15%;
}

.itemDescriptionCost {
    position: absolute;
    top: 50%;
    left: 15%;

    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

.itemDescription {
    position: absolute;
    left: 35%;
}

.itemDescriptionPicture {
    float: left;

    width: auto;
    height: 100%;
}

.firstAppend {
    position: absolute;
    right: -1vw;
    bottom: -1vh;
}

.items {
    position: relative;

    width: 25%;
    height: 15%;
    margin: 5px;
    padding-left: 1vw;

    color: black;
    border: 1px solid black;
    border-radius: .25vw;
    background-color: white;
}

.items:hover {
    transform: translateX(-5px);

    box-shadow: 5px 5px black;

    filter: brightness(85%);
}

.itemPicture {
    position: absolute;
    right: 0;

    width: auto;
    height: 100%;
}

.itemCost {
    position: absolute;
    bottom: .3vh;
    left: .5vw;
}

.itemId {
    position: absolute;
    top: .3vh;
    left: .5vw;
}

#messageBox{
    position: absolute;
    width: 100%;
    height: 85%;
}
#chatApi{
    position: absolute;
    width: 100%;
    height: 10%;
    top: 90%;
}
#chatButtonSnd{
    position: absolute;
    right: 0;
    top: -1vh;
}
#chatTextSnd{
    width: 84%;
}
.chatMess{
    position: absolute;
    width: 100%;
    height: 10%;
    top: 80%;
    background: green;
}