input[type='checkbox'] {
  position: relative;
  width: 40px;
  height: 20px;
  transition: .5s;
  border-radius: 10px;
  outline: none;
  background: #c6c6c6;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  -webkit-appearance: none;
  -moz-appearance: none;
}
input:checked[type='checkbox'] {
  background: #02a9f4;
}
input[type='checkbox']::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '';
  transition: .5s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
input:checked[type='checkbox']::before {
  left: 20px;
}
